body {
    background: #410b0b;
  }
  .box {
    border: 1px solid #c4c4c4;
    padding: 30px 25px 10px 25px;
    background: white;
    margin: 200px auto;
    width: 360px;
  }
  h1.box-logo a {
    text-decoration:none;
  }
  h1.box-title {
    color: black;
    background: #f8f8f8;
    font-weight: 300;
    padding: 15px 25px;
    line-height: 30px;
    font-size: 25px;
    text-align:center;
    margin: -27px -26px 26px;
  }
  .box-button {
    border-radius: 5px;
    background: black;
    text-align: center;
    cursor: pointer;
    font-size: 19px;
    width: 100%;
    height: 51px;
    padding: 0;
    color: #fff;
    border: 0;
    outline:0;
    transition-duration: 0.4s;
  }
  .box-button:hover{
    background-color: #353535; 
    color: white;
  }

  .box-register
  {
    text-align:center;
    margin-bottom:0px;
  }
  .box-register a
  {
    text-decoration:none;
    font-size:12px;
    color:#666;
  }
  .box-input {
    font-size: 14px;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    padding-left:10px;
    border-radius: 5px;
    width: 347px;
    height: 50px;
  }
  .box-input:focus {
      outline: none;
      border-color:#5c7186;
  }
  .sucess{
    text-align: center;
    color: white;
  }
  .sucess a {
    text-decoration: none;
    color: #58aef7;
  }
  p.errorMessage {
      background-color: #e66262;
      border: #AA4502 1px solid;
      padding: 5px 10px;
      color: #FFFFFF;
      border-radius: 3px;
  }

  .btn-box-button {
    border-radius: 5px;
    background: black;
    text-align: center;
    cursor: pointer;
    font-size: 19px;
    width: 350px;
    height: 51px;
    padding: 0;
    color: #fff;
    border: 0;
    outline:0;
    transition-duration: 0.4s;
  }

  .btn-box-button:hover{
    background-color: #353535; 
    color: white;
  }